# Initial EDA

<i>**Author:** Brendan McDonnell</i>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('college_athlete_data_19-08-12.csv')

In [3]:
df.head(10)

,Name,Grade,Team,Location,Date,Events,Performance,Place
0,Abbie Hetherington,(Sr-4),Oklahoma State,Big 12 Championships,"02/22 - Feb 23, 2019",1000,2:58.95,8th (F)
1,Abbie Hetherington,(Sr-4),Oklahoma State,Big 12 Championships,"02/22 - Feb 23, 2019",1000,2:51.03,4th (P)
2,Abbie Hetherington,(Sr-4),Oklahoma State,Arkansas Qualifier,"Feb 15, 2019",800,2:11.74,3rd (F)
3,Abbie Hetherington,(Sr-4),Oklahoma State,2019 Husky Classic,"02/08 - Feb 09, 2019",800,2:11.13,15th (F)
4,Abbie Hetherington,(Sr-4),Oklahoma State,2019 UW Invitational,"01/25 - Jan 26, 2019",800,2:10.01,18th (F)
5,Abbie Hetherington,(Sr-4),Oklahoma State,Arkansas Invitational,"Jan 11, 2019",800,2:11.07,1st (F)
6,Abbie Hetherington,(Sr-4),Oklahoma State,Arkansas Invitational,"Jan 11, 2019",4x400,3:53.65,9th (F)
7,Abbie Hetherington,(Sr-4),Oklahoma State,Big 12 Cross Country Championships,"Oct 26, 2018",6K,21:18.4,26th
8,Abbie Hetherington,(Sr-4),Oklahoma State,Arturo Barrios Invitational,"Oct 13, 2018",6K,22:09.1,57th
9,Abbie Hetherington,(Sr-4),Oklahoma State,Nuttycombe Wisconsin Invitational Presented By...,"Sep 28, 2018",6K,21:59.7,40th

## Events Column Manipulation

Essentially dummying out as much information about results as possible

In [4]:
df['event'] = df.Events

In [5]:
# need to convert events to an integer, all on the same scale (meters)
df.Events.unique()

array(['1000', '800', '4x400', '6K', 'DMR', '1500', '4x1600', 'Mile',
       '400', '600', '4.953K', '4x800', '4x1500', '5K', '600 yd',
       '1600SMR', '5000', '10,000', '3000', '4K', '110H', '100', '200',
       '4x100', '60', '3000S', '4x200', 'PV', 'LJ', '10K', '8K', '5M',
       'TJ', '3.12M', '400H', '4M', '60H', 'SP', 'HT', 'DT', '2000S',
       'WT', 'HJ', '100H', '100SH', 'Pent', 'JT', '110SH', '4.97M', '300',
       '4.96M', '3K', 'Hep', '6.2M', 'Dec', '4x440 yd', '8.4K', '3M',
       '55', '3.73M', '3.1M', '3.11M', '4.1K', '3.2K', '1600', '500',
       '8.042K', '2.49M', '4x880 yd', '6.4K', '5.914K', '5.848K', '7.6K',
       '8.369K', '8.067K', '9.725K', '9.981K', '8.085K', '4x1609',
       '4xMile', '5.5K', '4.975K', '3.218K', '1500S', '6.21167M',
       '6.195K', '4.523K', '3.72825M', '4.01K', '6.327K', 'K', '6.387K',
       '55H', '60SH', '27.5SH', '3.219K', '3.21869K', '5.875K', '5.872K',
       '3.72M', '7.98K', '2.48M', '4x300', '4.5M', '2.6M', '4.25K',
       '4.25M', '4.98K', '2M', '4.163K', '6.123K', '7K', '7.2K',
       '1000 yd', '4.2K', '4.8M', '1.86M', '5.8K', '4.97K', '1M',
       '8.035K', '5.03K', '4.965K', '4.8K', '7.85K', '5.92K', '8.125K',
       '600m', '6.43738K'], dtype=object)

In [6]:
df.Events = df.Events.apply(lambda x: str(x).replace(',', ''))

In [7]:
# update K as an event to 1000m race
df.Events = df.Events.apply(lambda x: 1000 if x == 'K' else x)

In [8]:
# create function to convert the event distances in meters to floats of race distance
def event_data(event_str):
    try:
        return float(event_str)
    except:
        return event_str

In [9]:
df.Events = df.Events.apply(event_data)

In [10]:
# create function to convert events in K's (1000 meters) to floats of race distance
def events_k(event):
    if 'K' in str(event):
        try:
            return float(event.split('K')[0])*1000
        except:
            return event
    else:
        return event

In [11]:
df.Events = df.Events.apply(events_k)

In [12]:
# convert mile races to meters; 1609.344 meters in a mile
df.Events = df.Events.apply(lambda x: 1609.344 if x == 'Mile' else x)

In [13]:
# create function to take distances in miles and convert them to meters
def events_miles(event):
    if 'M' in str(event):
        try:
            return float(event.split('M')[0])*1609.344
        except:
            return event
    else:
        return event

In [14]:
df.Events = df.Events.apply(events_miles)

In [15]:
# convert events in yards to meters
def yds_to_meters(event):
    if 'yd' in str(event).lower():
        try:
            return float(event.split('yd')[0])* 1609.344 / 1760 # 1760 yards in a mile / 1609.344 meters
        except:
            return event
    else:
        return event

In [16]:
df.Events = df.Events.apply(yds_to_meters)

In [17]:
# create column for relays performances (aggregate time rather than split or individual time performance)
# not purdy points eligible
def mark_as_relay(event):
    if 'x' in str(event).lower():
        return 1
    elif 'mr' in str(event).lower():
        return 1
    elif 'sh' in str(event).lower():
        return 1
    else:
        return 0

In [18]:
df['is_relay'] = df.Events.apply(mark_as_relay)

In [19]:
# create a column for hurdles events
# not on the purdy points scale
def mark_as_hurdles(event):
    if 's' in str(event).lower() or 'h' in str(event).lower():
        return 1
    else:
        return 0

In [20]:
df['has_hurdles'] = df.Events.apply(mark_as_hurdles)

In [21]:
# create column to mark field events, which are measurements
# not purdy points eligible
field_list = ['PV', # Pole Vault
              'LJ', # Long jump
              'TJ', # Triple jump
              'DT', # Discus throw 
              'WT', # Weight throw
              'JT' # Javelin Throw
             ]
def mark_as_field(event):
    counter = 0 # initialize for while loop
    while counter <= len(field_list):
        counter = 0
        for field_event in field_list:
            if field_event.lower() == str(event).lower():
                return 1
                break
            else:
                counter += 1
        return 0

In [22]:
df['is_field_event'] = df.Events.apply(mark_as_field)

In [23]:
# mark multi's events as such;
# not purdy points elgibile but on their own scale of comparability!
multis_list = ['pent', # Pentathlon
              'dec', # Decathlon
               'hep' # Heptathlon
             ]
def mark_as_multis(event):
    counter = 0 # initialize for while loop
    while counter <= len(multis_list):
        counter = 0
        for multi_event in multis_list:
            if multi_event.lower() == str(event).lower():
                return 1
                break
            else:
                counter += 1
        return 0

In [24]:
df['is_multi_event'] = df.Events.apply(mark_as_multis)

In [25]:
# final cleanup; 600 event was sometimes called '600m'
df.Events = df.Events.apply(lambda x: 600 if x == '600m' else x)

In [26]:
df[(df.is_relay == 0) & (df.has_hurdles == 0) & (df.is_field_event == 0) & (df.is_multi_event == 0)]['Events'].unique()

array([1000.0, 800.0, 6000.0, 1500.0, 1609.344, 400.0, 600.0, 4953.0,
       5000.0, 548.64, 10000.0, 3000.0, 4000.0, 100.0, 200.0, 60.0,
       8000.0, 8046.72, 5021.15328, 6437.376, 7998.4396799999995, 300.0,
       7982.34624, 9977.9328, 8400.0, 4828.032, 55.0, 6002.85312,
       4988.9664, 5005.05984, 4100.0, 3200.0, 1600.0, 500.0, 8042.0,
       4007.2665600000005, 6400.0, 5914.0, 5848.0, 7600.0, 8369.0, 8067.0,
       9725.0, 9981.0, 8085.000000000001, 5500.0, 4975.0, 3218.0,
       9996.71384448, 6195.0, 4523.0, 6000.036768, 4010.0, 6327.0, 6387.0,
       3219.0, 3218.69, 5875.0, 5872.0, 5986.75968, 7980.0, 3991.17312,
       7242.048000000001, 4184.294400000001, 4250.0, 6839.712, 4980.0,
       3218.688, 4163.0, 6123.0, 7000.0, 7200.0, 914.4, 4200.0, 7724.8512,
       2993.37984, 5800.0, 4970.0, 8035.0, 5030.0, 4965.0, 4800.0, 7850.0,
       5920.0, 8125.0, 6437.38], dtype=object)

In [27]:
df.isnull().sum()

Name                 0
Grade                0
Team                 0
Location             0
Date                77
Events               0
Performance          1
Place             7807
event                0
is_relay             0
has_hurdles          0
is_field_event       0
is_multi_event       0
dtype: int64

In [28]:
df[df.Date.isnull()].Name.unique()

array(['Benedict Draghi', 'Elissa Mann'], dtype=object)

**Manual Date imputation for two athletes by exporting to CSV**

In [29]:
# read DataFrame into CSV for imputation
# df.to_csv('manual_date_imputation.csv')

In [30]:
# create a new dataframe for calculating purdy points only
# df_purdy = df[(df.is_relay == 0) & (df.has_hurdles == 0) & (df.is_field_event == 0) & (df.is_multi_event == 0)]

In [31]:
df = pd.read_csv('manual_date_imputation.csv')

In [32]:
df.head()

,Unnamed: 0,Name,Grade,Team,Location,Date,Events,Performance,Place,event,is_relay,has_hurdles,is_field_event,is_multi_event
0,0,Abbie Hetherington,(Sr-4),Oklahoma State,Big 12 Championships,"02/22 - Feb 23, 2019",1000,02:59.0,8th (F),1000,0,0,0,0
1,1,Abbie Hetherington,(Sr-4),Oklahoma State,Big 12 Championships,"02/22 - Feb 23, 2019",1000,02:51.0,4th (P),1000,0,0,0,0
2,2,Abbie Hetherington,(Sr-4),Oklahoma State,Arkansas Qualifier,15-Feb-19,800,02:11.7,3rd (F),800,0,0,0,0
3,3,Abbie Hetherington,(Sr-4),Oklahoma State,2019 Husky Classic,"02/08 - Feb 09, 2019",800,02:11.1,15th (F),800,0,0,0,0
4,4,Abbie Hetherington,(Sr-4),Oklahoma State,2019 UW Invitational,"01/25 - Jan 26, 2019",800,02:10.0,18th (F),800,0,0,0,0